[Unit]
Description=EQUiStation Listening Service

[Service]
ExecStart=/home/pi/EQUiSat-Ground-Station/groundstation/groundstation_start.bash
Restart=on-failure

[Install]
WantedBy=multi-user.target
